# Realizando a carga no banco de dados

A partir do que foi feito no [trabalho prático]() chegou a hora de fazer a carga no banco de dados. Pra isso vamos utilizar as biblotecas do `sqlalchemy` e `mySQLdb` para realizar a conexão com o banco de dados e os arquivos serão os que estão na pasta `venv_bootcamp_engdados\modulo1\Cargas_Desafiofinal`.

# 1 - Conexão com o database

In [132]:
import os 
import sqlalchemy
import pandas as pd
from typing import Dict
import datetime
import numpy as np

In [2]:
user = 'root'
password = os.environ['MYSQL_PASSWORD_ROOT']
host = 'localhost'
database = 'seguroscarro' #schema

string_conexao = f'mysql://{user}:{password}@{host}/{database}'
engine = sqlalchemy.create_engine(string_conexao)
conn = engine.connect()

# 2 - Preparação dos dados

In [3]:
df_apolices = pd.read_csv('.\Cargas_Desafiofinal\Final\CargasApolice_DW.csv',sep=';')
df_carros = pd.read_csv('.\Cargas_Desafiofinal\Final\CargasCarro_DW.csv',sep=';')
df_clientes = pd.read_csv('.\Cargas_Desafiofinal\Final\CargasCliente_dw.csv',sep=';',encoding='ISO-8859-1')
df_sinistros = pd.read_csv('.\Cargas_Desafiofinal\Final\CargasSinistro_DW.csv',sep=';')

In [4]:
#verificando o tamando dos dados
print('Quantidade de dados da tabela clientes: ', df_clientes.shape)
print('Quantidade de dados da tabela apolices: ', df_apolices.shape)
print('Quantidade de dados da tabela sinistros: ', df_sinistros.shape)
print('Quantidade de dados da tabela carros: ', df_carros.shape)

Quantidade de dados da tabela clientes:  (20, 11)
Quantidade de dados da tabela apolices:  (22, 7)
Quantidade de dados da tabela sinistros:  (10, 6)
Quantidade de dados da tabela carros:  (783, 7)

In [5]:
#visualizando os dados e o tipo de dados
df_clientes

,CodCliente,Nome,CPF,Sexo,Estado,Cidade,Bairro,Numero,Rua,TelefoneFixo,TelefoneCelular
0,1,Ken J Sánchez,15296387930,Feminino,Minas Gerais,Belo Horizonte,Centro,10.0,Rua Teste das Castanheiras,36418855.0,NaN
1,2,Terri Lee Duffy,10578963690,M,Minas Gerais,Belo Horizonte,Camargos,20.0,Rua Teste dos Pinheiros,NaN,NaN
2,3,Roberto Tamburello,36925874120,M,Minas Gerais,Belo Horizonte,Santa Efigenia,30.0,Rua teste dos poetas,NaN,NaN
3,4,Rob Walters,23658979630,M,Minas Gerais,Belo Horizonte,Centro,40.0,Rua teste dos prazeres,NaN,NaN
4,5,Gail A Erickson,78952589746,M,Minas Gerais,Belo Horizonte,Santo Antônio,50.0,Rua teste da poesia,NaN,NaN
5,6,Jossef H Goldberg,78936979890,M,Minas Gerais,Belo Horizonte,Sion,60.0,Rua teste Guimarães,NaN,NaN
6,7,Dylan A Miller,74185236930,M,Minas Gerais,Belo Horizonte,Calafate,70.0,Rua Alfredo Sorte,NaN,NaN
7,8,Diane L Margheim,11594893690,F,Minas Gerais,Belo Horizonte,Pampulha,80.0,Rua A,NaN,NaN
8,9,Gigi N Matthew,96385276350,F,Minas Gerais,Belo Horizonte,Centro,90.0,Rua B,NaN,NaN
9,10,Michael Raheem,96389678979,Masculino,Minas Gerais,Belo Horizonte,Centro,100.0,Rua C,NaN,NaN
10,11,Ovidiu V Cracium,78589632149,M,Minas Gerais,Belo Horizonte,Centro,110.0,Rua D,NaN,NaN
11,12,Thierry B D'Hers,8569586350,Masculino,Minas Gerais,Belo Horizonte,Centro,120.0,Rua Sônia Abrão,NaN,NaN
12,13,Janice M Galvin,78985858585,F,São Paulo,São Paulo,Jardins,130.0,Rua Primeiro de Maio,NaN,NaN
13,14,Michael I Sullivan,85287563201,Masculino,São Paulo,São Paulo,Pinheiros,140.0,Rua pinheirinho,NaN,NaN
14,15,Sharon B Salavaria,78985632050,Feminino,São Paulo,São Paulo,Jardins,150.0,Rua Primeiro de Maio,NaN,NaN
15,16,David M Bradley,75386391470,M,São Paulo,São Paulo,Jardins,160.0,Rua Primeiro de Maio,NaN,NaN
16,17,Kevin F Brown,78985286304,M,São Paulo,São Paulo,Jardins,170.0,Rua Primeiro de Maio,NaN,NaN
17,18,John L Wood,45689520540,Masculino,São Paulo,São Paulo,Pinheiros,180.0,Rua pinheirinho,NaN,NaN
18,19,Mary A Dempsey,78963852820,F,São Paulo,São Paulo,Pinheiros,190.0,rua pinheirinho,NaN,NaN
19,20,Wanida M Benshoof,785636588,F,São Paulo,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_clientes.dtypes

CodCliente           int64
Nome                object
CPF                  int64
Sexo                object
Estado              object
Cidade              object
Bairro              object
Numero             float64
Rua                 object
TelefoneFixo       float64
TelefoneCelular    float64
dtype: object

In [7]:
df_apolices

,CodApolice,ValorCobertura,ValorFranquia,DataInicio,Datafim,Cliente_CodCliente,Carro_CodCarro
0,20,110000,3300,2018-01-01,2018-12-31,13,56
1,16,70000,1900,2019-01-01,2020-01-01,13,56
2,13,40000,850,2019-01-01,2019-06-01,20,85
3,9,80000,300,2021-01-01,2021-12-31,1,20
4,1,100000,800,2022-01-01,2023-01-01,11,3
5,2,150000,1000,2022-01-02,2023-01-02,12,4
6,3,80000,300,2022-01-03,2023-01-03,13,5
7,4,90000,400,2022-01-04,2023-01-04,14,6
8,5,100000,800,2022-01-05,2023-01-05,1,20
9,11,20000,150,2022-01-07,2023-01-07,18,26
10,6,80000,300,2022-01-10,2023-01-10,13,56
11,19,100000,2950,2022-01-11,2023-01-11,1,65
12,12,30000,500,2022-01-12,2023-01-12,17,79
13,21,120000,3650,2022-01-14,2023-01-14,12,89
14,15,60000,1550,2022-01-15,2023-01-15,3,96
15,22,130000,4000,2022-01-16,2023-01-16,9,100
16,10,100000,800,2021-01-01,2022-01-01,9,100
17,8,100000,800,2022-01-18,2023-01-18,9,71
18,14,50000,1200,2022-01-19,2023-01-19,3,125
19,17,80000,2250,2022-01-20,2023-01-20,3,150
20,18,90000,2600,2022-01-21,2023-01-21,5,180
21,7,80000,300,2022-01-22,2023-01-22,3,281

In [8]:
df_apolices.dtypes

CodApolice             int64
ValorCobertura         int64
ValorFranquia          int64
DataInicio            object
Datafim               object
Cliente_CodCliente     int64
Carro_CodCarro         int64
dtype: object

In [9]:
df_sinistros

,CodSinistro,HoraSinistro,DataSinistro,Local Sinistro,Condutor,Carro_CodCarro
0,1,10,2022-07-22,Belo Horizonte,Condutor Teste 1,6
1,2,9,2022-02-18,Santa Luzia,Condutor Teste 2,281
2,3,8,2022-07-28,Belo Horizonte,Condutor Teste 3,100
3,4,7,2022-07-15,Betim,Condutor Teste 4,5
4,5,6,2022-01-04,Contagem,Condutor Teste 5,3
5,6,6,2022-12-20,Sabara,Condutor Teste 1,6
6,7,7,2022-08-07,Belo Horizonte,Condutor Teste 1,100
7,8,9,2022-07-22,Belo Horizonte,Condutor Teste 1,150
8,9,10,2022-07-22,Belo Horizonte,Condutor Teste 1,85
9,10,11,2022-01-01,Belo Horizonte,Condutor Teste 1,79

In [10]:
df_sinistros.dtypes

CodSinistro        int64
HoraSinistro       int64
DataSinistro      object
Local Sinistro    object
Condutor          object
Carro_CodCarro     int64
dtype: object

In [11]:
df_carros.head(20)

     ID      Placa       Marca   Modelo   Ano     Chassi       Cor
0     1    Placa 1       ACURA  INTEGRA  2012    Chassi1     Prata
1     2    Placa 2       ACURA   LEGEND  2014    Chassi2  Vermelho
2     3    Placa 7       ACURA      NSX  2015    Chassi3    Branco
3     4  Placa1000      AGRALE   MARRUA  2011    Chassi4     Preto
4     5    Placa 8  ALFA ROMEO      145  2010    Chassi5     Prata
5     6    Placa 9  ALFA ROMEO      147  2009    Chassi6  Vermelho
6     7   Placa 10  ALFA ROMEO      155  2015    Chassi7    Branco
7     8   Placa 11  ALFA ROMEO      156  2015    Chassi8     Preto
8     9   Placa 12  ALFA ROMEO      164  2015    Chassi9     Prata
9    10   Placa 13  ALFA ROMEO      166  2015   Chassi10  Vermelho
10   11   Placa 14  ALFA ROMEO     2300  2015   Chassi11    Branco
11   12   Placa 15  ALFA ROMEO   SPIDER  2015   Chassi12     Preto
12   13   Placa 16      AM GEN   HUMMER  2016   Chassi13     Prata
13  281  Placa 284         KIA    BESTA  2022  Chassi281     Prata
14  282  Placa 285         KIA    BONGO  2021  Chassi282  Vermelho
15  283  Placa 286         KIA  CADENZA  2022  Chassi283    Branco
16  284  Placa 287         KIA   CARENS  2021  Chassi284     Preto
17   19   Placa 22        AUDI      100  2016   Chassi19    Branco
18   20   Placa 23        AUDI       80  2016   Chassi20     Preto
19   21   Placa 24        AUDI       A1  2016   Chassi21     Prata

In [12]:
df_carros.dtypes

ID         int64
Placa     object
Marca     object
Modelo    object
Ano        int64
Chassi    object
Cor       object
dtype: object

Com base no esquema abaixo precisamos converter nossos dados para o tipo apropriado então precisamos realizar as seguintes mudanças



**Tablea clientes**: Converter dados de `CPF`,`TelefoneFixo`,`TelefoneCelular` e `Número` para `string`. Além de no atributo `Sexo` converter `Masculino` para `M` e `Feminino` para `F`. 
Para garantir que nossos dados estão consistentes também vamos remover os espaços em branco de `Nome` e `Rua` e subsituir por `-`.

**Tablea apólices**: Converter dados de `DataInicio` e `Datafim` para `datetime.date`, `ValorFranquia` e `ValorCobertura` para `float`.  

**Tabela sinistros**: Converter dados `DataSinistro` para `datetime.date` e remover os espaços em branco de `Condutor` para substituir por `-`.
Aqui tambem, vamos precisar acrescentrar dados da tabela de apólices para sabermos qual é o apólice ativa de acordo com a `DataSinistro` e `CodCarro`.

**Tabela Carros**: Converter dados de `Ano` para `datetime.date` e remover os espaços em branco de `Placa` para substituir por "".

In [13]:
#criando funções de preprocessamento
def change_type(df:pd.DataFrame,params:Dict):
    for column,new_type in params.items():
        df.loc[:,column] = df.loc[:,column].astype(new_type)
    return df

def convert_to_date(col:pd.Series,fmt:str):
    col = col.apply(lambda data: datetime.datetime.strptime(data,fmt).date())
    return col

def convert_to_datetime(col:pd.Series,fmt:str):
    col = col.apply(lambda data: datetime.datetime.strptime(data,fmt))
    return col

In [ ]:
# limpando colunas

# tabela clientes 
params_cliente = {
    "CPF":"str",
    "TelefoneFixo":"str",
    "TelefoneCelular":"str",
    "Numero":"str"
}

df_clientes = change_type(df_clientes,params_cliente)
df_clientes.loc[:,["Nome","Rua"]] = df_clientes.loc[:,["Nome","Rua"]].apply(lambda data:data.str.strip())
df_clientes.loc[:,["Nome","Rua"]] = df_clientes.loc[:,["Nome","Rua"]].apply(lambda data:data.str.replace(" ","-"))
df_clientes.loc[:,["Sexo"]] = df_clientes.loc[:,["Sexo"]].apply(lambda data:data.str.replace("Feminino","F"))
df_clientes.loc[:,["Sexo"]] = df_clientes.loc[:,["Sexo"]].apply(lambda data:data.str.replace("Masculino","M"))


#tabela apólices 
params_apolices = {
    "ValorFranquia":"float32",
    "ValorCobertura":"float32"
}

df_apolices = change_type(df_apolices,params_apolices)
df_apolices.loc[:,["DataInicio"]] = convert_to_date(df_apolices["DataInicio"],fmt="%Y-%m-%d")
df_apolices.loc[:,["Datafim"]] = convert_to_date(df_apolices["Datafim"],fmt="%Y-%m-%d")


df_sinistros.loc[:,["HoraSinistro"]] = df_sinistros["DataSinistro"] + " " +  df_sinistros["HoraSinistro"].astype("str")
df_sinistros.loc[:,["DataSinistro"]] = convert_to_date(df_sinistros["DataSinistro"],fmt="%Y-%m-%d")
df_sinistros.loc[:,["HoraSinistro"]] = convert_to_datetime(df_sinistros["HoraSinistro"],fmt="%Y-%m-%d %H")
df_sinistros.loc[:,["Condutor"]] = df_sinistros.loc[:,["Condutor"]].apply(lambda data:data.str.replace(" ","-"))

#tabela ano
df_carros.loc[:,["Ano"]] = df_carros.loc[:,"Ano"].astype("str")
df_carros.loc[:,["Ano"]] = convert_to_date(df_carros["Ano"].astype("str"),fmt="%Y")
df_carros.loc[:,["Placa"]] = df_carros.loc[:,["Placa"]].apply(lambda data:data.str.replace(" ",""))

In [141]:
filter_apolices = df_apolices.filter(items=["CodApolice","Carro_CodCarro","DataInicio",'Datafim'])
df_sinistros["CodApoliceAtiva"]= np.nan

for item in df_sinistros.itertuples():
   dataSinistro = item.DataSinistro
   codCarro = item.Carro_CodCarro

   search_items = df_apolices.loc[df_apolices["Carro_CodCarro"]==codCarro,:]
   apolice_ativa = search_items[(search_items.DataInicio<dataSinistro)&(search_items.Datafim>dataSinistro)]["CodApolice"].values

   if len(apolice_ativa)!=0:
     df_sinistros.loc[df_sinistros["Carro_CodCarro"]==codCarro,"CodApoliceAtiva"]=apolice_ativa[0]

In [142]:
df_sinistros

,CodSinistro,HoraSinistro,DataSinistro,Local Sinistro,Condutor,Carro_CodCarro,CodApoliceAtiva
0,1,2022-07-22 10:00:00,2022-07-22,Belo Horizonte,Condutor-Teste-1,6,4.0
1,2,2022-02-18 09:00:00,2022-02-18,Santa Luzia,Condutor-Teste-2,281,7.0
2,3,2022-07-28 08:00:00,2022-07-28,Belo Horizonte,Condutor-Teste-3,100,22.0
3,4,2022-07-15 07:00:00,2022-07-15,Betim,Condutor-Teste-4,5,3.0
4,5,2022-01-04 06:00:00,2022-01-04,Contagem,Condutor-Teste-5,3,1.0
5,6,2022-12-20 06:00:00,2022-12-20,Sabara,Condutor-Teste-1,6,4.0
6,7,2022-08-07 07:00:00,2022-08-07,Belo Horizonte,Condutor-Teste-1,100,22.0
7,8,2022-07-22 09:00:00,2022-07-22,Belo Horizonte,Condutor-Teste-1,150,17.0
8,9,2022-07-22 10:00:00,2022-07-22,Belo Horizonte,Condutor-Teste-1,85,NaN
9,10,2022-01-01 11:00:00,2022-01-01,Belo Horizonte,Condutor-Teste-1,79,NaN

Como CodApoliceAtiva é nossa chave estrangeira na tabela de sinistros, iremos apagar registros com esse valor igual a "NaN" para cconseguirmosfazer a carga corretamente.

In [143]:
df_sinistros.dropna(subset=['CodApoliceAtiva'],how='any',inplace=True)

In [144]:
df_sinistros

,CodSinistro,HoraSinistro,DataSinistro,Local Sinistro,Condutor,Carro_CodCarro,CodApoliceAtiva
0,1,2022-07-22 10:00:00,2022-07-22,Belo Horizonte,Condutor-Teste-1,6,4.0
1,2,2022-02-18 09:00:00,2022-02-18,Santa Luzia,Condutor-Teste-2,281,7.0
2,3,2022-07-28 08:00:00,2022-07-28,Belo Horizonte,Condutor-Teste-3,100,22.0
3,4,2022-07-15 07:00:00,2022-07-15,Betim,Condutor-Teste-4,5,3.0
4,5,2022-01-04 06:00:00,2022-01-04,Contagem,Condutor-Teste-5,3,1.0
5,6,2022-12-20 06:00:00,2022-12-20,Sabara,Condutor-Teste-1,6,4.0
6,7,2022-08-07 07:00:00,2022-08-07,Belo Horizonte,Condutor-Teste-1,100,22.0
7,8,2022-07-22 09:00:00,2022-07-22,Belo Horizonte,Condutor-Teste-1,150,17.0

# 3 - Inserindo dados no banco de dados

## Inserindo dados na tabela cliente

In [59]:
for cliente in df_clientes.itertuples():
        try:
            codCliente = cliente.CodCliente
            Nome = cliente.Nome
            CPF = cliente.CPF
            Sexo = cliente.Sexo
            Estado = cliente.Estado
            Cidade = cliente.Cidade
            Bairro = cliente.Bairro
            Rua = cliente.Rua
            Numero = cliente.Numero
            TelefoneFixo = cliente.TelefoneFixo
            TelefoneCelular = cliente.TelefoneCelular

            query = f'''INSERT INTO clientes (codClientes,Nome,CPF,Sexo,Estado,Cidade,Bairro,Rua,Numero,TelefoneFixo,TelefoneCelular) values ({codCliente},"{Nome}","{CPF}","{Sexo}",\
                "{Estado}","{Cidade}","{Bairro}","{Rua}","{Numero}","{TelefoneFixo}","{TelefoneCelular}");'''
            conn.execute(sqlalchemy.text(query))
            conn.commit()
            print(f"Dado de {Nome} inserido com sucesso!")
        
        except Exception as e:
                print(f"Não foi possível inserir o regristro {cliente.Nome}. O erro foi encontrado foi: {e}")

Dado de Ken-J-Sánchez inserido com sucesso!
Dado de Terri-Lee-Duffy inserido com sucesso!
Dado de Roberto--Tamburello inserido com sucesso!
Dado de Rob--Walters inserido com sucesso!
Dado de Gail-A-Erickson inserido com sucesso!
Dado de Jossef-H-Goldberg inserido com sucesso!
Dado de Dylan-A-Miller inserido com sucesso!
Dado de Diane-L-Margheim inserido com sucesso!
Dado de Gigi-N-Matthew inserido com sucesso!
Dado de Michael--Raheem inserido com sucesso!
Dado de Ovidiu-V-Cracium inserido com sucesso!
Dado de Thierry-B-D'Hers inserido com sucesso!
Dado de Janice-M-Galvin inserido com sucesso!
Dado de Michael-I-Sullivan inserido com sucesso!
Dado de Sharon-B-Salavaria inserido com sucesso!
Dado de David-M-Bradley inserido com sucesso!
Dado de Kevin-F-Brown inserido com sucesso!
Dado de John-L-Wood inserido com sucesso!
Dado de Mary-A-Dempsey inserido com sucesso!
Dado de Wanida-M-Benshoof inserido com sucesso!

## Inserindo dados da tabela carros

In [25]:
for carro in df_carros.itertuples():
        try:
            CodCarro = carro.ID
            Placa = carro.Placa
            Chassi  = carro.Chassi
            Marca = carro.Marca
            Modelo  = carro.Modelo
            Cor = carro.Cor
            Ano = carro.Ano
           
            query = f'''INSERT INTO carros (codCarros,Placa,Chassi,Marca,Modelo,Cor,Ano) values ( \
                "{CodCarro}","{Placa}","{Chassi}","{Marca}","{Modelo}","{Cor}","{Ano}");'''
            conn.execute(sqlalchemy.text(query))
            conn.commit()
            print(f"Dado de {CodCarro} inserido com sucesso!")
        
        except Exception as e:
                print(f"Não foi possível inserir o regristro {CodCarro}. O erro foi encontrado foi: {e}")

Dado de 1 inserido com sucesso!
Dado de 2 inserido com sucesso!
Dado de 3 inserido com sucesso!
Dado de 4 inserido com sucesso!
Dado de 5 inserido com sucesso!
Dado de 6 inserido com sucesso!
Dado de 7 inserido com sucesso!
Dado de 8 inserido com sucesso!
Dado de 9 inserido com sucesso!
Dado de 10 inserido com sucesso!
Dado de 11 inserido com sucesso!
Dado de 12 inserido com sucesso!
Dado de 13 inserido com sucesso!
Dado de 281 inserido com sucesso!
Dado de 282 inserido com sucesso!
Dado de 283 inserido com sucesso!
Dado de 284 inserido com sucesso!
Dado de 19 inserido com sucesso!
Dado de 20 inserido com sucesso!
Dado de 21 inserido com sucesso!
Dado de 22 inserido com sucesso!
Dado de 23 inserido com sucesso!
Dado de 24 inserido com sucesso!
Dado de 25 inserido com sucesso!
Dado de 26 inserido com sucesso!
Dado de 27 inserido com sucesso!
Dado de 28 inserido com sucesso!
Dado de 29 inserido com sucesso!
Dado de 30 inserido com sucesso!
Dado de 31 inserido com sucesso!
Dado de 32 inserido com sucesso!
Dado de 33 inserido com sucesso!
Dado de 34 inserido com sucesso!
Dado de 35 inserido com sucesso!
Dado de 36 inserido com sucesso!
Dado de 37 inserido com sucesso!
Dado de 38 inserido com sucesso!
Dado de 39 inserido com sucesso!
Dado de 40 inserido com sucesso!
Dado de 41 inserido com sucesso!
Dado de 42 inserido com sucesso!
Dado de 43 inserido com sucesso!
Dado de 44 inserido com sucesso!
Dado de 45 inserido com sucesso!
Dado de 46 inserido com sucesso!
Dado de 47 inserido com sucesso!
Dado de 48 inserido com sucesso!
Dado de 49 inserido com sucesso!
Dado de 50 inserido com sucesso!
Dado de 51 inserido com sucesso!
Dado de 52 inserido com sucesso!
Dado de 53 inserido com sucesso!
Dado de 54 inserido com sucesso!
Dado de 55 inserido com sucesso!
Dado de 56 inserido com sucesso!
Dado de 57 inserido com sucesso!
Dado de 58 inserido com sucesso!
Dado de 59 inserido com sucesso!
Dado de 60 inserido com sucesso!
Dado de 61 inserido com sucesso!
Dado de 62 inserido com sucesso!
Dado de 63 inserido com sucesso!
Dado de 64 inserido com sucesso!
Dado de 65 inserido com sucesso!
Dado de 66 inserido com sucesso!
Dado de 67 inserido com sucesso!
Dado de 68 inserido com sucesso!
Dado de 69 inserido com sucesso!
Dado de 70 inserido com sucesso!
Dado de 71 inserido com sucesso!
Dado de 72 inserido com sucesso!
Dado de 73 inserido com sucesso!
Dado de 74 inserido com sucesso!
Dado de 75 inserido com sucesso!
Dado de 76 inserido com sucesso!
Dado de 77 inserido com sucesso!
Dado de 78 inserido com sucesso!
Dado de 79 inserido com sucesso!
Dado de 80 inserido com sucesso!
Dado de 81 inserido com sucesso!
Dado de 82 inserido com sucesso!
Dado de 83 inserido com sucesso!
Dado de 84 inserido com sucesso!
Dado de 85 inserido com sucesso!
Dado de 86 inserido com sucesso!
Dado de 87 inserido com sucesso!
Dado de 88 inserido com sucesso!
Dado de 89 inserido com sucesso!
Dado de 90 inserido com sucesso!
Dado de 91 inserido com sucesso!
Dado de 92 inserido com sucesso!
Dado de 93 inserido com sucesso!
Dado de 94 inserido com sucesso!
Dado de 95 inserido com sucesso!
Dado de 96 inserido com sucesso!
Dado de 97 inserido com sucesso!
Dado de 98 inserido com sucesso!
Dado de 99 inserido com sucesso!
Dado de 100 inserido com sucesso!
Dado de 101 inserido com sucesso!
Dado de 102 inserido com sucesso!
Dado de 103 inserido com sucesso!
Dado de 104 inserido com sucesso!
Dado de 105 inserido com sucesso!
Dado de 106 inserido com sucesso!
Dado de 107 inserido com sucesso!
Dado de 108 inserido com sucesso!
Dado de 109 inserido com sucesso!
Dado de 110 inserido com sucesso!
Dado de 111 inserido com sucesso!
Dado de 112 inserido com sucesso!
Dado de 113 inserido com sucesso!
Dado de 114 inserido com sucesso!
Dado de 115 inserido com sucesso!
Dado de 116 inserido com sucesso!
Dado de 117 inserido com sucesso!
Dado de 118 inserido com sucesso!
Dado de 119 inserido com sucesso!
Dado de 120 inserido com sucesso!
Dado de 121 inserido com sucesso!
Dado de 122 inserido com sucesso!
Dado de 123 inserido com sucesso!
Dado de 124 inserido com sucesso!
Dado de 125 inserido com sucesso!
Dado de 126 inserido com sucesso!
Dado de 127 inserido com sucesso!
Dado de 128 inserido com sucesso!
Dado de 129 inserido com sucesso!
Dado de 130 inserido com sucesso!
Dado de 131 inserido com sucesso!
Dado de 132 inserido com sucesso!
Dado de 133 inserido com sucesso!
Dado de 134 inserido com sucesso!
Dado de 135 inserido com sucesso!
Dado de 136 inserido com sucesso!
Dado de 137 inserido com sucesso!
Dado de 138 inserido com sucesso!
Dado de 139 inserido com sucesso!
Dado de 140 inserido com sucesso!
Dado de 141 inserido com sucesso!
Dado de 142 inserido com sucesso!
Dado de 143 inserido com sucesso!
Dado de 144 inserido com sucesso!
Dado de 145 inserido com sucesso!
Dado de 146 inserido com sucesso!
Dado de 147 inserido com sucesso!
Dado de 148 inserido com sucesso!
Dado de 149 inserido com sucesso!
Dado de 150 inserido com sucesso!
Dado de 151 inserido com sucesso!
Dado de 152 inserido com sucesso!
Dado de 153 inserido com sucesso!
Dado de 154 inserido com sucesso!
Dado de 155 inserido com sucesso!
Dado de 156 inserido com sucesso!
Dado de 157 inserido com sucesso!
Dado de 158 inserido com sucesso!
Dado de 159 inserido com sucesso!
Dado de 160 inserido com sucesso!
Dado de 161 inserido com sucesso!
Dado de 162 inserido com sucesso!
Dado de 163 inserido com sucesso!
Dado de 164 inserido com sucesso!
Dado de 165 inserido com sucesso!
Dado de 166 inserido com sucesso!
Dado de 167 inserido com sucesso!
Dado de 168 inserido com sucesso!
Dado de 169 inserido com sucesso!
Dado de 170 inserido com sucesso!
Dado de 171 inserido com sucesso!
Dado de 172 inserido com sucesso!
Dado de 173 inserido com sucesso!
Dado de 174 inserido com sucesso!
Dado de 175 inserido com sucesso!
Dado de 176 inserido com sucesso!
Dado de 177 inserido com sucesso!
Dado de 178 inserido com sucesso!
Dado de 179 inserido com sucesso!
Dado de 180 inserido com sucesso!
Dado de 181 inserido com sucesso!
Dado de 182 inserido com sucesso!
Dado de 183 inserido com sucesso!
Dado de 184 inserido com sucesso!
Dado de 185 inserido com sucesso!
Dado de 186 inserido com sucesso!
Dado de 187 inserido com sucesso!
Dado de 188 inserido com sucesso!
Dado de 189 inserido com sucesso!
Dado de 190 inserido com sucesso!
Dado de 191 inserido com sucesso!
Dado de 192 inserido com sucesso!
Dado de 193 inserido com sucesso!
Dado de 194 inserido com sucesso!
Dado de 195 inserido com sucesso!
Dado de 196 inserido com sucesso!
Dado de 197 inserido com sucesso!
Dado de 198 inserido com sucesso!
Dado de 199 inserido com sucesso!
Dado de 200 inserido com sucesso!
Dado de 201 inserido com sucesso!
Dado de 202 inserido com sucesso!
Dado de 203 inserido com sucesso!
Dado de 204 inserido com sucesso!
Dado de 205 inserido com sucesso!
Dado de 206 inserido com sucesso!
Dado de 207 inserido com sucesso!
Dado de 208 inserido com sucesso!
Dado de 209 inserido com sucesso!
Dado de 210 inserido com sucesso!
Dado de 211 inserido com sucesso!
Dado de 212 inserido com sucesso!
Dado de 213 inserido com sucesso!
Dado de 214 inserido com sucesso!
Dado de 215 inserido com sucesso!
Dado de 216 inserido com sucesso!
Dado de 217 inserido com sucesso!
Dado de 218 inserido com sucesso!
Dado de 219 inserido com sucesso!
Dado de 220 inserido com sucesso!
Dado de 221 inserido com sucesso!
Dado de 222 inserido com sucesso!
Dado de 223 inserido com sucesso!
Dado de 224 inserido com sucesso!
Dado de 225 inserido com sucesso!
Dado de 226 inserido com sucesso!
Dado de 227 inserido com sucesso!
Dado de 228 inserido com sucesso!
Dado de 229 inserido com sucesso!
Dado de 230 inserido com sucesso!
Dado de 231 inserido com sucesso!
Dado de 232 inserido com sucesso!
Dado de 233 inserido com sucesso!
Dado de 234 inserido com sucesso!
Dado de 235 inserido com sucesso!
Dado de 236 inserido com sucesso!
Dado de 237 inserido com sucesso!
Dado de 238 inserido com sucesso!
Dado de 239 inserido com sucesso!
Dado de 240 inserido com sucesso!
Dado de 241 inserido com sucesso!
Dado de 242 inserido com sucesso!
Dado de 243 inserido com sucesso!
Dado de 244 inserido com sucesso!
Dado de 245 inserido com sucesso!
Dado de 246 inserido com sucesso!
Dado de 247 inserido com sucesso!
Dado de 248 inserido com sucesso!
Dado de 249 inserido com sucesso!
Dado de 250 inserido com sucesso!
Dado de 251 inserido com sucesso!
Dado de 252 inserido com sucesso!
Dado de 253 inserido com sucesso!
Dado de 254 inserido com sucesso!
Dado de 255 inserido com sucesso!
Dado de 256 inserido com sucesso!
Dado de 257 inserido com sucesso!
Dado de 258 inserido com sucesso!
Dado de 259 inserido com sucesso!
Dado de 260 inserido com sucesso!
Dado de 261 inserido com sucesso!
Dado de 262 inserido com sucesso!
Dado de 263 inserido com sucesso!
Dado de 264 inserido com sucesso!
Dado de 265 inserido com sucesso!
Dado de 266 inserido com sucesso!
Dado de 267 inserido com sucesso!
Dado de 268 inserido com sucesso!
Dado de 269 inserido com sucesso!
Dado de 270 inserido com sucesso!
Dado de 271 inserido com sucesso!
Dado de 272 inserido com sucesso!
Dado de 273 inserido com sucesso!
Dado de 274 inserido com sucesso!
Dado de 275 inserido com sucesso!
Dado de 276 inserido com sucesso!
Dado de 277 inserido com sucesso!
Dado de 278 inserido com sucesso!
Dado de 279 inserido com sucesso!
Dado de 280 inserido com sucesso!
Dado de 285 inserido com sucesso!
Dado de 286 inserido com sucesso!
Dado de 914 inserido com sucesso!
Dado de 287 inserido com sucesso!
Dado de 288 inserido com sucesso!
Dado de 1085 inserido com sucesso!
Dado de 1225 inserido com sucesso!
Dado de 15 inserido com sucesso!
Dado de 289 inserido com sucesso!
Dado de 290 inserido com sucesso!
Dado de 291 inserido com sucesso!
Dado de 292 inserido com sucesso!
Dado de 293 inserido com sucesso!
Dado de 1224 inserido com sucesso!
Dado de 16 inserido com sucesso!
Dado de 294 inserido com sucesso!
Dado de 295 inserido com sucesso!
Dado de 296 inserido com sucesso!
Dado de 299 inserido com sucesso!
Dado de 300 inserido com sucesso!
Dado de 301 inserido com sucesso!
Dado de 302 inserido com sucesso!
Dado de 303 inserido com sucesso!
Dado de 304 inserido com sucesso!
Dado de 305 inserido com sucesso!
Dado de 306 inserido com sucesso!
Dado de 307 inserido com sucesso!
Dado de 308 inserido com sucesso!
Dado de 309 inserido com sucesso!
Dado de 310 inserido com sucesso!
Dado de 311 inserido com sucesso!
Dado de 312 inserido com sucesso!
Dado de 313 inserido com sucesso!
Dado de 314 inserido com sucesso!
Dado de 315 inserido com sucesso!
Dado de 316 inserido com sucesso!
Dado de 317 inserido com sucesso!
Dado de 318 inserido com sucesso!
Dado de 319 inserido com sucesso!
Dado de 320 inserido com sucesso!
Dado de 321 inserido com sucesso!
Dado de 322 inserido com sucesso!
Dado de 323 inserido com sucesso!
Dado de 324 inserido com sucesso!
Dado de 325 inserido com sucesso!
Dado de 326 inserido com sucesso!
Dado de 327 inserido com sucesso!
Dado de 328 inserido com sucesso!
Dado de 329 inserido com sucesso!
Dado de 330 inserido com sucesso!
Dado de 331 inserido com sucesso!
Dado de 332 inserido com sucesso!
Dado de 333 inserido com sucesso!
Dado de 334 inserido com sucesso!
Dado de 335 inserido com sucesso!
Dado de 336 inserido com sucesso!
Dado de 337 inserido com sucesso!
Dado de 338 inserido com sucesso!
Dado de 339 inserido com sucesso!
Dado de 340 inserido com sucesso!
Dado de 341 inserido com sucesso!
Dado de 342 inserido com sucesso!
Dado de 343 inserido com sucesso!
Dado de 344 inserido com sucesso!
Dado de 345 inserido com sucesso!
Dado de 346 inserido com sucesso!
Dado de 347 inserido com sucesso!
Dado de 348 inserido com sucesso!
Dado de 349 inserido com sucesso!
Dado de 350 inserido com sucesso!
Dado de 351 inserido com sucesso!
Dado de 352 inserido com sucesso!
Dado de 353 inserido com sucesso!
Dado de 354 inserido com sucesso!
Dado de 355 inserido com sucesso!
Dado de 356 inserido com sucesso!
Dado de 357 inserido com sucesso!
Dado de 358 inserido com sucesso!
Dado de 359 inserido com sucesso!
Dado de 360 inserido com sucesso!
Dado de 361 inserido com sucesso!
Dado de 362 inserido com sucesso!
Dado de 363 inserido com sucesso!
Dado de 364 inserido com sucesso!
Dado de 365 inserido com sucesso!
Dado de 366 inserido com sucesso!
Dado de 367 inserido com sucesso!
Dado de 368 inserido com sucesso!
Dado de 369 inserido com sucesso!
Dado de 370 inserido com sucesso!
Dado de 371 inserido com sucesso!
Dado de 372 inserido com sucesso!
Dado de 373 inserido com sucesso!
Dado de 374 inserido com sucesso!
Dado de 375 inserido com sucesso!
Dado de 376 inserido com sucesso!
Dado de 377 inserido com sucesso!
Dado de 378 inserido com sucesso!
Dado de 379 inserido com sucesso!
Dado de 380 inserido com sucesso!
Dado de 381 inserido com sucesso!
Dado de 382 inserido com sucesso!
Dado de 383 inserido com sucesso!
Dado de 384 inserido com sucesso!
Dado de 385 inserido com sucesso!
Dado de 386 inserido com sucesso!
Dado de 387 inserido com sucesso!
Dado de 388 inserido com sucesso!
Dado de 389 inserido com sucesso!
Dado de 390 inserido com sucesso!
Dado de 391 inserido com sucesso!
Dado de 392 inserido com sucesso!
Dado de 393 inserido com sucesso!
Dado de 394 inserido com sucesso!
Dado de 395 inserido com sucesso!
Dado de 396 inserido com sucesso!
Dado de 397 inserido com sucesso!
Dado de 398 inserido com sucesso!
Dado de 399 inserido com sucesso!
Dado de 400 inserido com sucesso!
Dado de 401 inserido com sucesso!
Dado de 402 inserido com sucesso!
Dado de 403 inserido com sucesso!
Dado de 404 inserido com sucesso!
Dado de 405 inserido com sucesso!
Dado de 406 inserido com sucesso!
Dado de 407 inserido com sucesso!
Dado de 408 inserido com sucesso!
Dado de 409 inserido com sucesso!
Dado de 410 inserido com sucesso!
Dado de 411 inserido com sucesso!
Dado de 412 inserido com sucesso!
Dado de 413 inserido com sucesso!
Dado de 414 inserido com sucesso!
Dado de 415 inserido com sucesso!
Dado de 416 inserido com sucesso!
Dado de 417 inserido com sucesso!
Dado de 418 inserido com sucesso!
Dado de 419 inserido com sucesso!
Dado de 420 inserido com sucesso!
Dado de 421 inserido com sucesso!
Dado de 422 inserido com sucesso!
Dado de 423 inserido com sucesso!
Dado de 424 inserido com sucesso!
Dado de 425 inserido com sucesso!
Dado de 426 inserido com sucesso!
Dado de 427 inserido com sucesso!
Dado de 428 inserido com sucesso!
Dado de 429 inserido com sucesso!
Dado de 430 inserido com sucesso!
Dado de 431 inserido com sucesso!
Dado de 432 inserido com sucesso!
Dado de 433 inserido com sucesso!
Dado de 434 inserido com sucesso!
Dado de 435 inserido com sucesso!
Dado de 436 inserido com sucesso!
Dado de 437 inserido com sucesso!
Dado de 438 inserido com sucesso!
Dado de 439 inserido com sucesso!
Dado de 440 inserido com sucesso!
Dado de 441 inserido com sucesso!
Dado de 442 inserido com sucesso!
Dado de 443 inserido com sucesso!
Dado de 444 inserido com sucesso!
Dado de 445 inserido com sucesso!
Dado de 446 inserido com sucesso!
Dado de 447 inserido com sucesso!
Dado de 448 inserido com sucesso!
Dado de 449 inserido com sucesso!
Dado de 450 inserido com sucesso!
Dado de 451 inserido com sucesso!
Dado de 452 inserido com sucesso!
Dado de 453 inserido com sucesso!
Dado de 454 inserido com sucesso!
Dado de 455 inserido com sucesso!
Dado de 456 inserido com sucesso!
Dado de 457 inserido com sucesso!
Dado de 458 inserido com sucesso!
Dado de 459 inserido com sucesso!
Dado de 460 inserido com sucesso!
Dado de 461 inserido com sucesso!
Dado de 462 inserido com sucesso!
Dado de 463 inserido com sucesso!
Dado de 464 inserido com sucesso!
Dado de 465 inserido com sucesso!
Dado de 466 inserido com sucesso!
Dado de 467 inserido com sucesso!
Dado de 468 inserido com sucesso!
Dado de 469 inserido com sucesso!
Dado de 470 inserido com sucesso!
Dado de 471 inserido com sucesso!
Dado de 472 inserido com sucesso!
Dado de 473 inserido com sucesso!
Dado de 474 inserido com sucesso!
Dado de 475 inserido com sucesso!
Dado de 476 inserido com sucesso!
Dado de 477 inserido com sucesso!
Dado de 478 inserido com sucesso!
Dado de 479 inserido com sucesso!
Dado de 480 inserido com sucesso!
Dado de 481 inserido com sucesso!
Dado de 482 inserido com sucesso!
Dado de 483 inserido com sucesso!
Dado de 484 inserido com sucesso!
Dado de 485 inserido com sucesso!
Dado de 486 inserido com sucesso!
Dado de 487 inserido com sucesso!
Dado de 488 inserido com sucesso!
Dado de 489 inserido com sucesso!
Dado de 490 inserido com sucesso!
Dado de 491 inserido com sucesso!
Dado de 492 inserido com sucesso!
Dado de 493 inserido com sucesso!
Dado de 494 inserido com sucesso!
Dado de 495 inserido com sucesso!
Dado de 496 inserido com sucesso!
Dado de 497 inserido com sucesso!
Dado de 498 inserido com sucesso!
Dado de 499 inserido com sucesso!
Dado de 500 inserido com sucesso!
Dado de 501 inserido com sucesso!
Dado de 502 inserido com sucesso!
Dado de 503 inserido com sucesso!
Dado de 504 inserido com sucesso!
Dado de 505 inserido com sucesso!
Dado de 506 inserido com sucesso!
Dado de 507 inserido com sucesso!
Dado de 508 inserido com sucesso!
Dado de 509 inserido com sucesso!
Dado de 510 inserido com sucesso!
Dado de 511 inserido com sucesso!
Dado de 512 inserido com sucesso!
Dado de 513 inserido com sucesso!
Dado de 514 inserido com sucesso!
Dado de 515 inserido com sucesso!
Dado de 516 inserido com sucesso!
Dado de 517 inserido com sucesso!
Dado de 518 inserido com sucesso!
Dado de 519 inserido com sucesso!
Dado de 520 inserido com sucesso!
Dado de 521 inserido com sucesso!
Dado de 522 inserido com sucesso!
Dado de 523 inserido com sucesso!
Dado de 524 inserido com sucesso!
Dado de 525 inserido com sucesso!
Dado de 526 inserido com sucesso!
Dado de 527 inserido com sucesso!
Dado de 528 inserido com sucesso!
Dado de 529 inserido com sucesso!
Dado de 530 inserido com sucesso!
Dado de 531 inserido com sucesso!
Dado de 532 inserido com sucesso!
Dado de 533 inserido com sucesso!
Dado de 534 inserido com sucesso!
Dado de 535 inserido com sucesso!
Dado de 536 inserido com sucesso!
Dado de 537 inserido com sucesso!
Dado de 538 inserido com sucesso!
Dado de 539 inserido com sucesso!
Dado de 540 inserido com sucesso!
Dado de 541 inserido com sucesso!
Dado de 542 inserido com sucesso!
Dado de 543 inserido com sucesso!
Dado de 544 inserido com sucesso!
Dado de 545 inserido com sucesso!
Dado de 546 inserido com sucesso!
Dado de 547 inserido com sucesso!
Dado de 548 inserido com sucesso!
Dado de 549 inserido com sucesso!
Dado de 550 inserido com sucesso!
Dado de 551 inserido com sucesso!
Dado de 552 inserido com sucesso!
Dado de 553 inserido com sucesso!
Dado de 554 inserido com sucesso!
Dado de 555 inserido com sucesso!
Dado de 556 inserido com sucesso!
Dado de 557 inserido com sucesso!
Dado de 558 inserido com sucesso!
Dado de 559 inserido com sucesso!
Dado de 560 inserido com sucesso!
Dado de 561 inserido com sucesso!
Dado de 562 inserido com sucesso!
Dado de 563 inserido com sucesso!
Dado de 564 inserido com sucesso!
Dado de 565 inserido com sucesso!
Dado de 566 inserido com sucesso!
Dado de 567 inserido com sucesso!
Dado de 568 inserido com sucesso!
Dado de 569 inserido com sucesso!
Dado de 570 inserido com sucesso!
Dado de 571 inserido com sucesso!
Dado de 572 inserido com sucesso!
Dado de 573 inserido com sucesso!
Dado de 574 inserido com sucesso!
Dado de 575 inserido com sucesso!
Dado de 576 inserido com sucesso!
Dado de 577 inserido com sucesso!
Dado de 578 inserido com sucesso!
Dado de 579 inserido com sucesso!
Dado de 580 inserido com sucesso!
Dado de 581 inserido com sucesso!
Dado de 582 inserido com sucesso!
Dado de 583 inserido com sucesso!
Dado de 584 inserido com sucesso!
Dado de 585 inserido com sucesso!
Dado de 586 inserido com sucesso!
Dado de 587 inserido com sucesso!
Dado de 588 inserido com sucesso!
Dado de 589 inserido com sucesso!
Dado de 590 inserido com sucesso!
Dado de 591 inserido com sucesso!
Dado de 592 inserido com sucesso!

## Inserindo dados na tabela apólice

In [60]:
# Inserindo dados da tabela apólices

for apolice in df_apolices.itertuples():
        try:
            CodApolice = apolice.CodApolice
            ValorCobertura = apolice.ValorCobertura
            ValorFranquia  = apolice.ValorFranquia
            DataInicio = apolice.DataInicio
            Datafim  = apolice.Datafim
            CodCliente = apolice.Cliente_CodCliente
            CodCarro = apolice.Carro_CodCarro
            query = f'''INSERT INTO apólices (codApólices,dataInicioVigência,dataFimVigência,valorTotalAssegurado,valorFranquia,codClientes,codCarros) values ( \
                "{CodApolice}","{DataInicio}","{Datafim}","{ValorCobertura}","{ValorFranquia}","{CodCliente}","{CodCarro}");'''
            conn.execute(sqlalchemy.text(query))
            conn.commit()
            print(f"Dado de {CodApolice} inserido com sucesso!")
        
        except Exception as e:
                print(f"Não foi possível inserir o regristro {CodApolice}. O erro foi encontrado foi: {e}")

Dado de 20 inserido com sucesso!
Dado de 16 inserido com sucesso!
Dado de 13 inserido com sucesso!
Dado de 9 inserido com sucesso!
Dado de 1 inserido com sucesso!
Dado de 2 inserido com sucesso!
Dado de 3 inserido com sucesso!
Dado de 4 inserido com sucesso!
Dado de 5 inserido com sucesso!
Dado de 11 inserido com sucesso!
Dado de 6 inserido com sucesso!
Dado de 19 inserido com sucesso!
Dado de 12 inserido com sucesso!
Dado de 21 inserido com sucesso!
Dado de 15 inserido com sucesso!
Dado de 22 inserido com sucesso!
Dado de 10 inserido com sucesso!
Dado de 8 inserido com sucesso!
Dado de 14 inserido com sucesso!
Dado de 17 inserido com sucesso!
Dado de 18 inserido com sucesso!
Dado de 7 inserido com sucesso!

In [145]:
df_sinistros

,CodSinistro,HoraSinistro,DataSinistro,Local Sinistro,Condutor,Carro_CodCarro,CodApoliceAtiva
0,1,2022-07-22 10:00:00,2022-07-22,Belo Horizonte,Condutor-Teste-1,6,4.0
1,2,2022-02-18 09:00:00,2022-02-18,Santa Luzia,Condutor-Teste-2,281,7.0
2,3,2022-07-28 08:00:00,2022-07-28,Belo Horizonte,Condutor-Teste-3,100,22.0
3,4,2022-07-15 07:00:00,2022-07-15,Betim,Condutor-Teste-4,5,3.0
4,5,2022-01-04 06:00:00,2022-01-04,Contagem,Condutor-Teste-5,3,1.0
5,6,2022-12-20 06:00:00,2022-12-20,Sabara,Condutor-Teste-1,6,4.0
6,7,2022-08-07 07:00:00,2022-08-07,Belo Horizonte,Condutor-Teste-1,100,22.0
7,8,2022-07-22 09:00:00,2022-07-22,Belo Horizonte,Condutor-Teste-1,150,17.0

## Inserindo dados na tabela de sinistros

In [149]:
for sinistro in df_sinistros.itertuples():
        try:
            codSinistro = sinistro.CodSinistro
            horaOcorrência = sinistro.HoraSinistro
            tipoOcorrência = 'null'
            Condutor = sinistro.Condutor
            dataOcorrência = sinistro.DataSinistro
            codCarro = sinistro.Carro_CodCarro
            codApolice = sinistro.CodApoliceAtiva
            rua = 'null'
            cidade = 'null'
            bairro = 'null'
            query = f'''INSERT INTO sinistros (codSinistros,Condutor,dataOcorrência,horaOcorrência,tipoOcorrência,Rua,Cidade,Bairro,codCarros,codApólices) values ( \
                "{codSinistro}","{Condutor}","{dataOcorrência}","{horaOcorrência}","{tipoOcorrência}","{rua}","{cidade}","{bairro}","{codCarro}","{codApolice}");'''
            conn.execute(sqlalchemy.text(query))
            conn.commit()
            print(f"Dado de {codSinistro} inserido com sucesso!")
        
        except Exception as e:
                print(f"Não foi possível inserir o regristro {codSinistro}. O erro foi encontrado foi: {e}")

Dado de 1 inserido com sucesso!
Dado de 2 inserido com sucesso!
Dado de 3 inserido com sucesso!
Dado de 4 inserido com sucesso!
Dado de 5 inserido com sucesso!
Dado de 6 inserido com sucesso!
Dado de 7 inserido com sucesso!
Dado de 8 inserido com sucesso!