# Tratamento de dados do ENEM 2020

In [1]:
#import libraries 
import pandas as pd
import numpy as np

In [3]:
FILENAME = "./filtered_df_enem2020_mg.csv"

df = pd.read_csv(FILENAME)
df.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,200001634757,2020,4,F,1,Parda,2,1,1,Não respondeu,...,A,A,A,B,A,B,B,A,A,B
1,200003315528,2020,7,F,1,Preto,1,1,0,Não respondeu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200005105757,2020,3,F,1,Parda,1,1,1,Não respondeu,...,B,A,A,C,A,B,D,A,A,B
3,200006140756,2020,12,F,0,Parda,1,4,0,Não respondeu,...,A,A,A,B,A,A,B,A,A,B
4,200003852394,2020,11,F,1,Parda,1,1,9,Não respondeu,...,A,A,A,B,A,A,C,A,A,B

## 1 - Qual é a média da nota em matemática dos alunos que estudaram numa escola em Minas Gerais?

In [22]:
df[df.loc[:,"SG_UF_ESC"]=="MG"]["NU_NOTA_MT"].describe()

count    46598.000000
mean       579.889433
std        124.666465
min          0.000000
25%        482.625000
50%        583.300000
75%        666.500000
max        975.000000
Name: NU_NOTA_MT, dtype: float64

## 2- Qual é a média da nota em Linguagens e Códigos dos alunos que estudaram numa escola em Minas Gerais?

In [23]:
df[df.loc[:,"SG_UF_ESC"]=="MG"]["NU_NOTA_LC"].describe()

count    48154.000000
mean       553.163550
std         69.178909
min          0.000000
25%        513.925000
50%        560.400000
75%        601.300000
max        759.600000
Name: NU_NOTA_LC, dtype: float64

## 3 - Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO que estudaram numa escola em Minas Gerais?

In [24]:
df[(df.loc[:,"TP_SEXO"]=="F")&(df.loc[:,"SG_UF_ESC"]=="MG")]["NU_NOTA_CH"].describe()

count    27064.000000
mean       541.502860
std         95.054325
min          0.000000
25%        471.100000
50%        546.800000
75%        613.600000
max        862.600000
Name: NU_NOTA_CH, dtype: float64

## 4 - Qual é a média da nota em Ciências Humanas dos alunos do sexo MASCULINO que estudaram numa escola em Minas Gerais?

In [25]:
df[(df.loc[:,"TP_SEXO"]=="M")&(df.loc[:,"SG_UF_ESC"]=="MG")]["NU_NOTA_CH"].describe()

count    21090.000000
mean       559.639768
std         94.897892
min          0.000000
25%        498.200000
50%        569.500000
75%        627.900000
max        844.000000
Name: NU_NOTA_CH, dtype: float64

## 5 - Qual é a média da nota em Matemática dos alunos do sexo FEMININO que estudaram numa escola na cidade de Montes Claros?

In [19]:
df[(df.loc[:,"TP_SEXO"]=="F")&(df.loc[:,"NO_MUNICIPIO_ESC"]=="Montes Claros")]["NU_NOTA_MT"].describe()

count    836.000000
mean     563.317584
std      120.224027
min      329.200000
25%      470.325000
50%      569.200000
75%      647.800000
max      922.200000
Name: NU_NOTA_MT, dtype: float64

## 6 - Qual é a média da nota em Matemática dos alunos que estudaram numa escola no município de Sabará e que possuem TV por assinatura na residência?

In [20]:
df[(df.loc[:,"Q021"]=="B")&(df.loc[:,"NO_MUNICIPIO_ESC"]=="Sabará")]["NU_NOTA_MT"].describe()

count     67.000000
mean     580.102985
std      121.578984
min      360.900000
25%      491.800000
50%      597.300000
75%      672.100000
max      803.900000
Name: NU_NOTA_MT, dtype: float64

## 7 - Qual é a média da nota em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e que possuem dois fornos micro-ondas em casa?

In [26]:
df[(df.loc[:,"Q016"]=="C")&(df.loc[:,"SG_UF_ESC"]=="MG")]["NU_NOTA_CH"].describe()

count    392.000000
mean     601.019898
std       92.702572
min      343.600000
25%      553.800000
50%      612.850000
75%      669.200000
max      794.000000
Name: NU_NOTA_CH, dtype: float64

## 8 - Qual é a nota média em Matemática dos alunos que estudaram numa escola em Minas Gerais e cuja mãe completou a pós-graduação?

In [27]:
df[(df.loc[:,"Q002"]=="G")&(df.loc[:,"SG_UF_ESC"]=="MG")]["NU_NOTA_MT"].describe()

count    8418.000000
mean      642.414718
std       122.760205
min       328.200000
25%       561.400000
50%       649.000000
75%       726.600000
max       975.000000
Name: NU_NOTA_MT, dtype: float64

## 9 - Qual é a nota média em Matemática dos alunos que estudaram numa escola em Belo Horizonte ou em Conselheiro Lafaiete?

In [28]:
df[(df.loc[:,"NO_MUNICIPIO_ESC"]=="Conselheiro Lafaiete")|(df.loc[:,"NO_MUNICIPIO_ESC"]=="Belo Horizonte")]["NU_NOTA_MT"].describe()

count    8725.000000
mean      620.980046
std       132.623470
min         0.000000
25%       523.900000
50%       626.400000
75%       713.300000
max       975.000000
Name: NU_NOTA_MT, dtype: float64

## 10 - Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e que moram sozinhos?

In [29]:
df[(df.loc[:,"Q005"]==1)&(df.loc[:,"SG_UF_ESC"]=="MG")]["NU_NOTA_CH"].describe()

count    154.000000
mean     535.496104
std      115.644436
min        0.000000
25%      438.975000
50%      541.700000
75%      617.675000
max      758.200000
Name: NU_NOTA_CH, dtype: float64

## 11- Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais, cujo pai completou pós-graduação e possuem renda familiar entre R$ 8.360,01 e R$ 9.405,00?

In [30]:
df[(df.loc[:,"Q001"]=="G")&(df.loc[:,"Q006"]=="L")&(df.loc[:,"SG_UF_ESC"]=="MG")]["NU_NOTA_CH"].describe()

count    211.000000
mean     624.191943
std       86.331322
min        0.000000
25%      584.900000
50%      637.700000
75%      682.200000
max      769.900000
Name: NU_NOTA_CH, dtype: float64

## 12 - Qual é a nota média em Matemática dos alunos do sexo Feminino que estudaram numa escola em Lavras e escolheram “Espanhol” como língua estrangeira?

In [51]:
df[(df.loc[:,"TP_LINGUA"]=="Espanhol")&(df.loc[:,"NO_MUNICIPIO_ESC"]=="Lavras")&(df.loc[:,"TP_SEXO"]=="F")]["NU_NOTA_MT"].describe()

count     96.000000
mean     513.383333
std      105.603841
min      341.400000
25%      425.875000
50%      505.600000
75%      593.675000
max      746.100000
Name: NU_NOTA_MT, dtype: float64

## 13 - Qual é a nota média em Matemática dos alunos do sexo Masculino que estudaram numa escola em Ouro Preto?

In [32]:
df[(df.loc[:,"TP_SEXO"]=="M")&(df.loc[:,"NO_MUNICIPIO_ESC"]=="Ouro Preto")]["NU_NOTA_MT"].describe()

count    136.000000
mean     615.582353
std       98.424854
min      379.100000
25%      543.175000
50%      628.400000
75%      686.100000
max      821.000000
Name: NU_NOTA_MT, dtype: float64

## 14 - Qual é a nota média em Ciências Humanas dos alunos que estudaram numa escola em Minas Gerais e possuem entre 26 e 30 anos?

In [33]:
df[(df.loc[:,"TP_FAIXA_ETARIA"]==11)&(df.loc[:,"SG_UF_ESC"]=="MG")]["NU_NOTA_CH"].describe()

count     76.000000
mean     474.428947
std       71.719829
min      344.900000
25%      420.650000
50%      468.100000
75%      526.025000
max      654.500000
Name: NU_NOTA_CH, dtype: float64

## 15 - Qual é a nota média em Matemática dos alunos do sexo FEMININO, que estudaram numa escola em Belo Horizonte, Sabará, Nova Lima ou Betim e estudaram em uma escola privada?

In [53]:
filter_escs_mun = df[df["NO_MUNICIPIO_ESC"].isin(["Belo Horizonte", "Sabará", "Nova Lima", "Betim"])]
filter_escs_mun[(filter_escs_mun.loc[:,"TP_ESCOLA"]=="Privada")&(filter_escs_mun.loc[:,"TP_SEXO"]=="F")]["NU_NOTA_MT"].describe()

count    2083.000000
mean      679.149064
std       112.688395
min       334.000000
25%       605.800000
50%       682.300000
75%       759.050000
max       975.000000
Name: NU_NOTA_MT, dtype: float64